
/* New Colors - #3299AD ,#3C707A, #14BEE0, #314447, #2D3233 */ 

body{
    max-width: 100%;
    max-height: 100%;
    font-family: Roboto;
    background-color:#2D3233;
    color: #8CDAFF;
 }

 h1,h2,h3,h4,h5,h6 {
    font-family: "Onest";
    font-size: 40pt;
 }

 h1 {
    font-size: 40pt;
 }

 h2{
    font-size: 20pt;
    text-decoration-line: underline;
 }


/* Header code*/
 header {
    text-align: center;
    background-color: #14BEE0;
    box-shadow:black inset 10px 10px 15px;
    border: #2D3233 solid 3px;
    border-radius: 50px;
    margin-top: 20px;

 }

 header img{
    padding-top: 20px;
    width: 100px;
    height: 80px;
    float: left;
    margin-left: 30px;
 }

 header h1{
   margin: 40px;
    color: #2D3233;
 }

 #hero,footer {
    color:#314447;
    border: 5px solid #314447;
    text-align: center;
    padding: 10px;
    font-weight: 600;
    margin-top: 30px;
}

/* Hero Section */
#hero img {
    width: 300px;
    border: black solid;
    border-radius: 20px;
    text-align: center;
}

/* Bio Section */
#bio {
    text-align: center;

   
}

/* Hobbies */ 
#hobbies {
    font-weight: bolder;
    font-size: 20px;
    background-color:#3C707A;
    padding: 20px;
    margin: 50px;
    border: 12.5px solid #14BEE0;
    color:#2D3233;
    border-radius: 75px;
    border-style: double;
    display: flex;
    flex-direction: column;
    align-items: center;

}



#hobbies img{
    float: right;
    height: 350px;
    border: #14BEE0 solid 3px;
    margin: 15px;
    width: 250px;
    max-width: 100%;
    max-height: 100%;
    border-radius: 50px;
    
 
}

/* Gallery */

#gallery {
    border: 10px solid #3299AD;
    text-align: center;
    border-style: ridge;

}

#gallery img {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-width: 100%;
    max-height: 100%;
    border: 6px solid #14BEE0;
    border-radius: 50px;
    height: 500px;
    width: 400px;
    margin-left: 40px;
}


#gallery figure {
    text-align: center;
    border: 5px solid #14BEE0;
    margin: 20px;
    font-size: large;
    background: #3299AD;
    padding: 30px;
    color: black;
    font-weight: 600;
    box-shadow: 25px 25px 50px black inset;
    border-radius:100px;
    border-style: outset;
    margin-left: 60px;
    
}
/*Blog*/


.blog {
    border: #14BEE0 solid 5px;

}
#blog{
    text-align: center;
    border:3px solid #3299AD;
    margin-bottom: 2rem;
    text-align: center;
    color: azure;
    padding: 20px;

   

}

/* The Img code for the 2 pictures*/
.column {
    float: left;
    width: 41.33%;
    padding: 5px;
  }
.row::after {
    content: "";
    clear: both;
    display: flex;
  }

#blog img{
    margin: 10px;
    border: solid #3299AD 3px;
    width: 400px;
    height: 300px;
    max-width: 100%;
    max-height: 100%;
    margin-top: 3rem;
}


#blog div{
    padding:2rem;
    max-width: 52.5rem;
    margin: 0 auto;

}

#blog div p {

    padding:0.3rem 0;
    clear: both;
    font-size: 2rem;
    font-weight: 500;
    text-align: center;
    

}

#blog div p::first-line{
    font-size: 40px;
}

#blog h6{
    font-size: 35px;
    text-align: center;
    
}
#blog h5{
    text-align: center;
    font-size: 50px;
    text-decoration: underline;
} 

.blog2{
    text-align: center;
    border: solid 5px #3299AD;
    font-size: 20px;
    color: #3299AD;
    margin:20px;
    padding: 30px;
}

.blog2 img{
    width: 600px;
    height: 400px;
    max-width: 100%;
    max-height: 100%;
    border: #8CDAFF solid 4px;
    border-radius: 20px;
}

/* Dropcaps*/

#blog div p::first-letter{
    color: whitesmoke;
    font-size: 50px;
    padding: 3px;
    font-style: oblique;
    font-weight: 600;
    
}
/*tablet size*/

@media screen and (min-width:60em){
    figure{
        display:grid;
        grid-template-columns: 2fr 1fr;
    }
    
figcaption{
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:2rem;
    margin-left: 1rem;
}
}

#lit div{
    columns: 20rem;
    max-width: 100%;
}
/* large screen size*/

@media screen and (min-width:100) {
    #gallery{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
  
hr{
    display:none;
}

#gallery h2{
    grid-column:1/-1;
}
figure{
    display: block;
}
}

#Video{
    margin: 5%;
    border: 0.5em solid #3299AD;
    text-align: center;
    padding: 20;
    border-radius: 20em;
    background-color: #314447;
    box-shadow: 5px 100px 200px black inset;
    
}
#Video iframe {
    margin: 30px;
    margin-bottom: 60px;
    border: 7.5px solid #14BEE0;
}

#formElements{
    display: grid;
    row-gap: 0.5rem;
}

#contact{
    border: 3px solid #3C707A;
    font-weight: 600;
    border-radius: 50px;
    width:1000px;
    color:#3299AD;
    background-color:#314447;
    padding: 1rem;
    max-width: 600px;
    margin:2rem auto;
}

fieldset {
    border-radius: 20px 20px 20px;
    font-size: large;
    border: 4px solid black;
    margin-top: 2rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    margin-right: 1rem;
}

legend{
    background-color: black;
    color:#3299AD;
    padding: 0.5em;
}

#contact input, #contact textarea, #contact select, #contact button{
    padding: .5em;
    font-size: 1rem;
}
 
#contact ul{
    list-style: none;
    padding: 0px;

}
#contact li {
    margin:1rem
}

#contact button{
    background-color: black;
    color:white;
    border:1px solid black;
    max-width: 400px;
    width:75%;
    justify-self: center;
}
